body {background-color: #f0f0f0; margin: 30px;}

h1 {font-family: serif; font-size: 45px; font-weight: normal; line-height: 48px; padding: 20px; text-align: center;}

h2 {font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 24px;}
h3 {text-align: center; padding: inherit; text-decoration-line: underline; padding: 20px;}
h4 {text-align: center; padding: inherit; padding: 20px}

p {font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin-top: 24px; padding-top: 20px;}

footer {background-color: #62acb5; color: #ffffff;
    padding-top: 5px;
    margin-top: 40px;
    display: block;
}
script {font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin-top: 24px; padding-top: 20px;}
nav, .navbar  {background-color: #62acb5; color: #ffffff; margin-bottom: 20px;}
.nav-link {color: #ffffff;}


.hiddenmedia {display: none;}
.h3p {text-align: center;}

.center, .sampic {  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {margin-left: 150px;}

#day, #month, #year, #date, .date {display: inline;}

#favcolor, #favmusic, #gradDate, #sport, #puzzle, #favanimal, #triplet {
    display: block;
    border: 2px solid #62acb5;
    border-radius: 5px;
    vertical-align: middle;
    width: 300px;
    margin: auto;
    color: #354B5E;
    padding-top: 40px;
    margin-top: 5px;
    text-align: center;
    padding: 45px 0;}

button {background-color: #62acb5; text-align: center;}

.homebutton {color: #ffffff;}
#homebutton1 {background-color: #62acb5}
#homebutton2 {background-color: #62acb5}
.footerlinks {color: #ffffff    ; margin-bottom: 15px;}
.messageForm {width: 100%;}
.form {padding-left: 200px;}


@media only screen and (max-width:1024px){
    body, p, h1, h2, h3, h4 {margin: 20px; font-size: 25px; text-align: center;}
    img {width: auto;}
    footer, iframe, #nicoleResume, #samuelResume, form, input {display: none;}
    .hiddenmedia{display: block;}
    #cultivators, #sqloutput, #nicolePython { width: 250px;}
    #samC, #samPython {width: 350px; height: auto;}
    .homepic {width: 200px; height: auto;}
    .hidesmall, #hidesmall {display: none;}
    .sampic {width: 200px; height: auto;}
}
@media only screen and (max-width: 600px){
    body, p, h1, h2, h3, h4 {margin: auto; font-size: 20px; text-align: center;}
    img {width: auto;}
    footer, iframe, #nicoleResume, form, input {display: none;}
    .hiddenmedia{display: block;}
    #sqloutput, #cultivators {width: 350px;}

}